<div class="title-container">
  <mat-card *ngIf="generation">
    <mat-card-title>
      Generation {{formatGenerationName(generation.name)}} Pokémon
    </mat-card-title>
  </mat-card>
</div>
<div *ngIf="generation" class="pokemon-list-container">
  <mat-card *ngFor="let pokemon of generation.pokemon_species">
    <mat-card-header>
      <mat-card-title>
        {{wordToUpperCase(pokemon.name)}}
      </mat-card-title>
      <mat-card-subtitle>
        <p class="pokemon-card-subtitle">Main region: {{wordToUpperCase(generation.main_region.name)}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="{{getPokemonArtworkImage(pokemon.url)}}" alt="{{pokemon.name}}">
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
