div.title-container {
  margin: 16px;
  display: flex;
  justify-content: center;

  mat-card {

    mat-card-title {
      margin: 0 0 4px 0;
    }
  }
}

div.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    margin: 16px;

    .mat-card-avatar {
      height: 60px;
      width: 60px;
      border-radius: 0;
      position: relative;
      top: -8px;
    }

    mat-card-content {
      display: flex;
      justify-content: center;

      img {
        margin: 4px;
        width: 176px;
        height: 176px;
      }
    }
  }
}
