<mat-icon>back</mat-icon>
<div class="title-container">
  <mat-card *ngIf="generation">
    <mat-card-header>
      <mat-card-title>
        Generation {{formatGenerationName(generation.name)}} Pokémon
      </mat-card-title>

    </mat-card-header>
  </mat-card>
</div>
<div *ngIf="generation" class="pokemon-list-container">
  <mat-card *ngFor="let pokemon of generation.pokemon_species">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image':'url('+getPokemonSprite(pokemon.url)+')', 'background-size':'cover'}"></div>
      <mat-card-title>
        {{wordToUpperCase(pokemon.name)}}
      </mat-card-title>
      <mat-card-subtitle>
        <p class="pokemon-card-subtitle">Main region: {{wordToUpperCase(generation.main_region.name)}}</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="{{getPokemonImage(pokemon.url)}}" alt="{{pokemon.name}}">
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
