div.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    margin: 1rem;

    div.pokemon-card-avatar {
      background-size: cover;
      border-radius: initial;
    }

    img {
      width: 200px;
      height: 200px;
      padding: 20px;
    }
  }
}
