div {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width: max-content;
  margin: 1rem;
  text-align: center;
  display: inline-block;
  box-shadow: -3px 3px 10px 0px grey;

  img {
    width: 200px;
    height: 200px;
    padding: 20px;
  }
}
