div.title-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

div.pokemon-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    margin: 1rem;

    mat-card-subtitle {
      p {
        margin: 0;
      }
    }

    mat-card-content {
      display: flex;
      justify-content: center;

      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
