$mat-toolbar-height: 55px;
$mat-toolbar-width: 200px;

mat-toolbar {

  &.mat-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: $mat-toolbar-height;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  }

  .pokeng-logo {
    height: 40px;
    margin: 0 10px;
  }
}

mat-sidenav-container {

  mat-sidenav {
    position: fixed;
    top: $mat-toolbar-height;
    width: $mat-toolbar-width;

    mat-nav-list {

      .mat-icon{
        padding-right: 15px;
      }
    }
  }

  mat-sidenav-content {
    position: relative;
    top: $mat-toolbar-height;
    min-height: 100vh;
    margin-bottom: 65 + 5px;
  }
}
