$mat-toolbar-height: 55px;
$mat-sidebar-width: 200px;

mat-toolbar {

  &.mat-toolbar {
    background-color: #3d9e3a;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    height: $mat-toolbar-height;
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
  }

  img.pokeng-logo {
    height: 36px;
    margin: 0 16px;
    position: relative;
    top: 5px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  div.empty-container {
    width: 100%;
  }

  div.external-links {

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: #e0e0e0;
      }
    }
  }
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    position: fixed;
    top: $mat-toolbar-height;
    width: $mat-sidebar-width;

    mat-nav-list {
      p {
        text-align: center;
        margin: 1rem;
      }

      .mat-icon {
        padding-right: 15px;
      }
    }
  }

  mat-sidenav-content {
    position: relative;
    top: $mat-toolbar-height;
    margin-bottom: 65px;
  }
}


