<div class="generation-list-container">
  <a *ngFor="let generationItem of generationCollection" routerLink="{{generationItem.url.replace('https://pokeapi.co/api/v2/generation/', '').slice(0,-1)}}">
    <mat-card mat-ripple>
      <mat-card-header>
        <mat-card-title>
          {{formatGenerationName(generationItem.name)}}
        </mat-card-title>
        <mat-card-subtitle>
          Pokémon {{getGamesForGeneration(generationItem.name)}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img *ngFor="let boxart of returnBoxartForGeneration(generationItem.name)" src="{{boxart}}">
     </mat-card-content>
    </mat-card>
  </a>
</div>
<app-footer></app-footer>
