div.title-container {
  margin: 1rem;
  display: flex;
  justify-content: center;

  mat-card {

    mat-card-title {
      margin: 0 0 4px 0;
    }

    mat-card-subtitle {
      margin: 0;
    }
  }
}

div.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    width: 218px;
    margin: 1rem;

    mat-card-content {
      p {
        margin: 0;
      }
    }
  }
}
