<div class="games-list-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon Red</mat-card-title>
      <mat-card-subtitle>Game Boy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Red_EN_boxart.png">
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon Blue</mat-card-title>
      <mat-card-subtitle>Game Boy</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Blue_EN_boxart.png">
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon Silver</mat-card-title>
      <mat-card-subtitle>Game Boy Color</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Silver_EN_boxart.png">
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon Gold</mat-card-title>
      <mat-card-subtitle>Game Boy Color</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Gold_EN_boxart.png">
  </mat-card>

  <mat-card>
    <img mat-card-image src="assets/boxart/Crystal_EN_boxart.png">
  </mat-card>

  <mat-card>
    <img mat-card-image src="assets/boxart/Ruby_EN_boxart.png">
  </mat-card>

  <mat-card>
    <img mat-card-image src="assets/boxart/Sapphire_EN_boxart.png">
  </mat-card>

  <mat-card>
    <img mat-card-image src="assets/boxart/Emerald_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/FireRed_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/LeafGreen_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Diamond_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Pearl_EN_boxart.png">
  </mat-card>
</div>
