<div class="title-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Generation I Games</mat-card-title>
      <mat-card-subtitle>1996 - 1999</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="games-container" id="generation-i">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['1'].games[0]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['1'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Red_EN_boxart.png" alt="pokemon-red-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['1'].games[1]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['1'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Blue_EN_boxart.png" alt="pokemon-blue-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['1'].games[2]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['1'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Yellow_EN_boxart.png" alt="pokemon-yellow-boxart">
  </mat-card>
</div>

<div class="title-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Generation II Games</mat-card-title>
      <mat-card-subtitle>1999 - 2002</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="games-container" id="generation-ii">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['2'].games[0]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['2'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Silver_EN_boxart.png" alt="pokemon-silver-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['2'].games[1]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['2'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Gold_EN_boxart.png" alt="pokemon-gold-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['2'].games[2]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['2'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Crystal_EN_boxart.png" alt="pokemon-crystal-boxart">
  </mat-card>
</div>

<div class="title-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Generation III Games</mat-card-title>
      <mat-card-subtitle>2002 - 2006</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="games-container" id="generation-iii">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['3'].games[0]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['3'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Ruby_EN_boxart.png" alt="pokemon-ruby-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['3'].games[1]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['3'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Sapphire_EN_boxart.png" alt="pokemon-sapphire-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['3'].games[2]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['3'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Emerald_EN_boxart.png" alt="pokemon-emerald-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['3'].games[3]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['3'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/FireRed_EN_boxart.png" alt="pokemon-firered-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['3'].games[4]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['3'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/LeafGreen_EN_boxart.png" alt="pokemon-leafgreen-boxart">
  </mat-card>
</div>

<div class="title-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Generation IV Games</mat-card-title>
      <mat-card-subtitle>2006 - 2010</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="games-container" id="generation-iv">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['4'].games[0]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['4'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Diamond_EN_boxart.png" alt="pokemon-diamond-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['4'].games[1]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['4'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Pearl_EN_boxart.png" alt="pokemon-pearl-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['4'].games[2]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['4'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Platinum_EN_boxart.png" alt="pokemon-platinum-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['4'].games[3]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['4'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/HeartGold_EN_boxart.png" alt="pokemon-heartgold-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['4'].games[4]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['4'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/SoulSilver_EN_boxart.png" alt="pokemon-soulsilver-boxart">
  </mat-card>
</div>

<div class="title-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Generation V Games</mat-card-title>
      <mat-card-subtitle>2010 - 2013</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div class="games-container" id="generation-v">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['5'].games[0]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['5'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Black_EN_boxart.png" alt="pokemon-black-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['5'].games[1]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['5'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/White_EN_boxart.png" alt="pokemon-white-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['5'].games[2]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['5'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/Black2_EN_boxart.png" alt="pokemon-black2-boxart">
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pokémon {{generationData['5'].games[3]}}</mat-card-title>
      <mat-card-subtitle>{{generationData['5'].platform}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/boxart/White_2_EN_boxart.png" alt="pokemon-white2-boxart">
  </mat-card>
</div>

