<div class="games-list-container">
  <mat-card>
    <img mat-card-image src="assets/boxart/Red_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Blue_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Silver_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Gold_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Crystal_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Ruby_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Sapphire_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/Emerald_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/FireRed_EN_boxart.png">
  </mat-card>
  <mat-card>
    <img mat-card-image src="assets/boxart/LeafGreen_EN_boxart.png">
  </mat-card>
</div>
